<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<!--<html th:lang="${#locale.language}" xmlns:th="http://thymeleaf.org">-->
<head th:replace="/Home/Layout/homefragment :: html_head (pageTitle='Index')" />
<body>
<div th:replace="/Home/Layout/homefragment :: preloader">
</div>

<header th:replace="/Home/Layout/homefragment :: header">
</header>

<main>
    <!-- Header Start-->
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Aradıgınız sayfa bulunamadı... </h2>
                        <h2>Lütfen tekrar deneyiniz...</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Header End -->
</main>
<footer th:replace="/Home/Layout/homefragment :: footer">
</footer>

<div th:replace="/Home/Layout/homefragment :: scroll-up">
</div>

<div th:replace="/Home/Layout/homefragment :: home-script">
</div>
</body>
</html>